<div class="d-flex align-items-center justify-content-center" style="min-height: 60vh;">
    <div class="container text-center">
        <i class="bi bi-shield-lock-fill text-danger" style="font-size: 6rem;"></i>
        <h3 class="mt-3 text-danger">Access Denied</h3>

        <a href="javascript:history.back()" class="btn btn-danger px-5">
			<i class="bi bi-arrow-left"></i> Назад
        </a>
    </div>
</div>