@model HomeVM

<form method="post" asp-action="GetHotelsByDate">
    <input hidden asp-for="CheckOutDate" />
    <div class="row p-0 mx-0 py-4 mb-4">
        <div class="col-12 col-md-5 ps-0">
            <div class="form-group">
                <label class="text-dark">Дата заселения</label>
                <input asp-for="CheckInDate" id="CheckInDate" type="date" class="form-control" />
            </div>
        </div>
        <div class="col-8 col-md-4 pl-2 pr-2 ps-0">
            <div class="form-group">
                <label class="text-dark">Кол-во ночей</label>
                <select class="form-select" asp-for="NumberOfNights" id="NumberOfNights">
                    @for (var i = 1; i < 14; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-4 col-md-2 pt-4 pr-2 px-0">
            <div class="form-group">
                <button type="button" onclick="fnLoadHotelList()" class="btn btn-success btn-block w-100">
                    <i class="bi bi-search"></i>  &nbsp; Check Availability
                </button>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <partial name="_HotelList" model="Model" />
</div>

@section Scripts{
    <script>
        const getHotelsUrl = '@Url.Action("GetHotelsByDate", "Home")';
    </script>
    <script src="~/js/hotel-search.js"></script>
}